#Profilebox
{
    background-color:#efecec;
    border-style: solid;
    border-color:black;
    border-width: 1px;
    text-overflow:ellipsis;
    box-shadow: 1px 1px 50px black;
    padding-bottom: 105%;


}
#lists
{
    text-align: center;
}
#followbtn
{
    border-width: 1px;
}
.bg-inverse
{
    background-color:#000000;
}
td
{
    font-size: x-small;

}
#Trending{
    background-color:#efecec;
    border-style: solid;
    border-color:black;
    border-width: 1px;
    padding-bottom: 160%;
    border-style: solid;
    border-color:black;
    padding: 4%;
    border-width: 1px;
    box-shadow: 1px 1px 50px black;
    text-overflow:clip;
    padding-bottom: 110%;

}
#PeopleKnowBox
{
    background-color:#efecec;
    border-style: solid;
    border-color:black;
    border-width: 1px;
    padding-bottom: 160%;
    box-shadow: 1px 1px 50px black;
}
#tweet{
    background-color:#efecec;
    border-style: solid;
    border-color:black;
    border-radius: 10px;
    border-width: 1px;
    font-family: sans-serif;
    padding:2%;
    box-shadow: 1px 1px 50px black;

}
#comment{
    background-color:lightgrey;
    border-style: solid;
    border-color:black;
    border-radius: 10px;
    border-width: 1px;
}
#tweetbtns
{
    margin-left:25%
}

body
{
    background-color:#222f57;
}
div.followmember
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.bannericons
{
    margin: 6px 5px;
    border-style: double;
    border-color:black;

}
.logo{
    border-style: double;
    border-color:black;

}
